# ========================
# Local execution stuff:

venv

**/__pycache__/**

trading_platform/logs/exec_logs.log

trading_platform/static_root/**
!trading_platform/static_root/README.md

trading_platform/**/migrations/**
