# enable adding .docx without problems:
*.docx    binary
*.mdj    binary

# Keep .sh file LF as Linux docker container executes it and will report
# file missing error or similar
development/trading_platform/deployment/entrypoints/migrate_run.sh text eol=lf
