{% extends 'common/base.html' %}

{% load static %}

{% block included_css %}

    <!-- Included Components CSS -->
    <link rel="stylesheet" href="{% static 'common/components/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'common/components/footer/footer.css' %}">

    <!-- This Page's CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'administrator_dashboard/css/administrator_dashboard.css' %}">

{% endblock %}


{% block title %}
    administrator_dashboard
{% endblock %}


{% block header %}
    {% include 'common/components/header/header.html' %}
{% endblock %}


{% block content %}
<div id="administrator_dashboard_page-content" class="common-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 left-nav-bar">
                <ul class="nav navbar-vertical">
                    <li class="nav-item nav-item-vertical nav-item-active">
                        <img src="{% static 'common/images/portfolio.png' %}" alt="">
                        <a class="nav-link nav-link-vertical" href="#">Users</a>
                    </li>
                    <li class="nav-item nav-item-vertical">
                        <img src="{% static 'assets_view/images/assetsview.png' %}" alt="">
                        <form action="{% url 'administrator_dashboard_request' %}" method="POST">
                            {% csrf_token %}
                            <div class="row"><a class="nav-link nav-link-vertical" href="administrator_dashboard_request">Requests</a></div>
                        </form>
                    </li>
                    <li class="nav-item nav-item-vertical">
                        <img src="{% static 'common/images/logout.png' %}" alt="">
                        <form action="{% url 'adminlogout' %}" method="POST">
                            {% csrf_token %}
                            <div class="row"><a class="nav-link nav-link-vertical" href="adminlogout">Logout</a></div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <form action="{% url 'administrator_dashboard_form' %}" method="POST">
                    {% csrf_token %}
                    <table id="table" class="table table-striped">
                        <tr>
                            <td colspan="5" style="font-weight: 800">
                                Users
                            </td>
                        </tr>
                        
                        <tr id="bold">
                            <td>Username</td>
                            <td>Status</td>
                            <td>Role</td>
                            <td>Email address</td>
                            <td id="trash"></td>
                        </tr>

                        {% for user, userType in users %}
                            
                            <tr id="columns">
                                <td style="color: gray;">@{{user.username}}</td>
                                {% if user.is_active %}
                                    <td style="color: lightgreen">Active</td>
                                {% else %}
                                    <td style="color: indianred">Inactive</td>
                                {% endif %}
                                <td>
                                    {{userType}}
                                </td>
                                <td>
                                    {{user.email}}
                                </td>
                                <td>
                                    <button name="{{user.username}}" type="submit"><img style="width: 7.5%; " src="../static/administrator_dashboard/images/trashBin.jpg" alt=""></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'common/components/footer/footer.html' %}
{% endblock %}


{% block included_js %}

    <!-- This Page's JS -->

{% endblock %}
