{% load static %}

<div id="footer center-vertically">
    <div class="container">
        <!-- <footer class="py-5"> -->
            <div class="footer-brand">
                <img src="{% static 'common/images/logo.png' %}" alt="Logo" width="60" height="30">
                <span class="logo-text">GoldenView</span>
            </div>
            <div class="row">
                <p class="footer-description">The GoldenView project is a part of the practical teaching in the
                    course Principles of Software Engineering. The project is a web application for trading on the
                    stock market. Users with their created account will be able to monitor and analyze stock prices
                    in real time, as well as access other information that is important for trading.</p>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p class="copyright">© 2023 GoldenVIew. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                    height="24">
                                    <use xlink:href="#twitter"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                    height="24">
                                    <use xlink:href="#instagram"></use>
                                </svg></a></li>
                        <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24"
                                    height="24">
                                    <use xlink:href="#facebook"></use>
                                </svg></a></li>
                    </ul>
                </div>
            </div>
        <!-- </footer> -->
    </div>
</div>
