.left-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -1px 9px 16px rgba(0, 0, 0, 0.25);
    max-width: 350px;
    height: 90vh;
}

.navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item-vertical {
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    padding: 2px 8px 2px 8px;
}

.nav-item-active {
    background: #d1ae7d;
    border: 4px solid #d1ae7d;
    border-radius: 12px;
}

.nav-item-active .nav-link:hover {
    color: whitesmoke;
}
