<!-- Jovana Bjelica 2020/0349 -->
{% extends 'common/base.html' %}

{% load static %}

{% block included_css %}

    <!-- Included Components CSS -->
    <link rel="stylesheet" href="{% static 'common/components/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'common/components/footer/footer.css' %}">

    <!-- This Page's CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'password_reset/css/password_reset.css' %}">

{% endblock %}


{% block title %}
    password_reset
{% endblock %}


{% block header %}
    {% include 'common/components/header/header.html' %}
{% endblock %}


{% block content %}
<div id="password_reset_page-content" class="common-center">

    <div class="container-fluid">
        <div id="page-txt" class="row common-center">
            <div class="col-sm-6 common-center-horizontally">
                <h2>
                    Password reset
                </h2>
            </div>
        </div>
        <div class="row common-center">
            <div class="col-sm-6 common-center-horizontally">
                <table>
                        <tr>
                            <td colspan="2">
                                <br>
                                <b>Old</b>
                            </td>
                        </tr>
                        <form action="{% url 'password_reset_form' %}" method="POST">
                            {% csrf_token %}
                        <tr>
                            <td colspan="2">
                                <input id="pass" type="password" name="old" id="old" size="60" placeholder=" Enter old password">
                                <br>
                                <b style="color:red">{{errold}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br>
                                <b>New</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input id="pass" type="password" name="new" id="new" size="60" placeholder=" Enter new password">
                                <br>
                                {% for i in errnew %}
                                <b style="color:red">{{i}}</b>
                                <br>
                                {% endfor %} 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                                <div style="text-align:center">
                                    <button type="submit" class="btn btn-warning" id="button">Send</button>
                                </div>
                            </td>
                        </form>
                            <td>
                                <br>
                                <form action="{% url 'cancel_reset' %}" method="POST">
                                    {% csrf_token %}
                                    <div style="text-align:center">
                                        <button class="btn btn-outline-warning" id="button1">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    
                </table>
                
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'common/components/footer/footer.html' %}
{% endblock %}


{% block included_js %}

    <!-- This Page's JS -->
    <script src="{% static 'password_reset/js/password_reset.js' %}"></script>

{% endblock %}
