<!-- { % extends 'common/frontend/src/templates/base.html' % } -->
{% extends 'common/base.html' %}

{% load static %}

{% block included_css %}

<!-- Included Components CSS -->
<link rel="stylesheet" href="{% static 'common/components/header/header.css' %}">
<link rel="stylesheet" href="{% static 'common/components/footer/footer.css' %}">

<!-- This Page's CSS -->
<link rel="stylesheet" href="{% static 'assets_view/components/dashboard/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'assets_view/css/asset_view.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

{% endblock %}


{% block title %}
{{ symbol }}
{% endblock %}


{% block header %}
{% include 'common/components/header/header.html' %}
{% endblock %}


{% block content %}
<div id="asset_view-content" data-asset-ticker="{{ symbol }}">
    <div class="row">
        {% include 'assets_view/components/dashboard/dashboard.html' %}

        <div class="col-md-9">
            <!-- TradingView Widget BEGIN -->
            <br>
            <div class="tradingview">
                <div class="tradingview-widget-container">
                    <div id="tradingview_3edba"></div>
                </div>
            </div>

            <!-- TradingView Widget END -->
            <!--

            <form id="buy-sell-form" action="{% url 'page_404' %}" method="post">
                {{ csrf }}
                <div class="buttons">
                    <button class="buy" id="buy-btn" data-url="{% url 'asset_buy' %}">Buy</button>
                    <input type="number" min="0" id="quantity" class="quantity" placeholder="Quantity">
                    <button class="sell" id="sell-btn" data-url="{% url 'asset_sell' %}">Sell</button>
                </div>

                <input type="number" name="startRange" placeholder="Start Range">
                <input type="number" name="endRange" placeholder="End Range">
                <input type="range" name="sliderRange" min="0" max="100" step="1">
            </form>

            <form id="buy-sell-form" action="{% url 'page_404' %}" method="post">
                {{ csrf }}
                <div class="buttons">
                    <button class="buy" id="buy-btn" data-url="{% url 'asset_buy' %}">Buy</button>
                    <input type="number" min="0" id="quantity" class="quantity" placeholder="Quantity">
                    <button class="sell" id="sell-btn" data-url="{% url 'asset_sell' %}">Sell</button>
                </div>
                <p class="price-range">
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" readonly>
                </p>
                <div id="slider-range"></div>
            </form> -->
            <!-- <div class="container mt-5">
                <div class="row">
                  <div class="col-md-8">
                    <input type="range" id="rangeSlider" name="rangeSlider" />
                  </div>
                  <div class="col-md-2">
                    <input type="number" class="form-control" id="startRange" placeholder="Start Range" min="0" max="100">
                  </div>
                  <div class="col-md-2">
                    <input type="number" class="form-control" id="endRange" placeholder="End Range" min="0" max="100">
                  </div>
                </div>
            </div>
             -->

             <form id="buy-sell-form" action="{% url 'page_404' %}" method="post" data-csrf-token="{{ csrf_token }}">
                {% csrf_token %}
                <p class="price-range">
                    <label for="amount">Price range:</label>
                    <input type="text" id="amount" readonly>
                </p>
                 <div class="range-inputs">
                     <input type="number" id="min-price" name="min-price" min="0" step="0.01" class="range-input">
                     <input type="number" id="max-price" name="max-price" min="0" step="0.01" class="range-input">
                 </div>
                 <div id="slider-range"></div>
            </form>

            <div class="buttons">
                <button class="buy" id="buy-btn" data-url="{% url 'asset_buy' %}">Buy</button>
                <input type="number" min="0" id="quantity" class="quantity" placeholder="Quantity">
                <button class="sell" id="sell-btn" data-url="{% url 'asset_sell' %}">Sell</button>
            </div>
            <div class="buttons">
                <input type="number" min="1" id="contract" class="quantity" placeholder="Contract ID(Optional)">
            </div>

            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
{% include 'common/components/footer/footer.html' %}
{% endblock %}


{% block included_js %}

<!-- This Page's JS -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!-- not using CDN for sending jquery as django's is needed for CSRF with AJAX -->
<script src="{% static 'admin/js/jquery.init.js' %}"></script>

<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script src="{% static 'assets_view/js/asset_view.js' %}"></script>


{% endblock %}
