<!-- Andrej Dujovic 2020/0306 -->
{% load static %}

<div class="col-2 col-md-2 left-nav-bar">
    <ul class="nav navbar-vertical">

    {% if request.resolver_match.view_name == 'assets_list' %}
        <li class="nav-item nav-item-vertical nav-item-active">
    {% else %}
        <li class="nav-item nav-item-vertical">
    {% endif %}
            <img src="{% static 'assets_view/images/assetsview.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="{% url 'assets_list' %}">Real-time view</a>
        </li>

    {% if request.resolver_match.view_name == 'portfolio' %}
        <li class="nav-item nav-item-vertical nav-item-active">
    {% else %}
        <li class="nav-item nav-item-vertical">
    {% endif %}
            <img src="{% static 'common/images/portfolio.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="{% url 'portfolio' %}">Portfolio</a>
        </li>

    {% if request.resolver_match.view_name == 'logout' %}
        <li class="nav-item nav-item-vertical nav-item-active">
    {% else %}
        <li class="nav-item nav-item-vertical">
    {% endif %}
            <img src="{% static 'common/images/logout.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>
