<!-- Andrej Dujovic 2020/0306 -->
{% load static %}

<div class="col-md-3 left-nav-bar">
    <ul class="nav navbar-vertical">
        <li class="nav-item nav-item-vertical">
            <img src="{% static 'assets_view/images/assetslist.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="../assets">Assets list</a>
        </li>
        <li class="nav-item nav-item-vertical">
            <img src="{% static 'assets_view/images/assetsview.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="../assets/none">Real-time view</a>
        </li>
        <li class="nav-item nav-item-vertical">
            <img src="{% static 'common/images/portfolio.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="../portfolio">Portfolio</a>
        </li>
        <li class="nav-item nav-item-vertical">
            <img src="{% static 'common/images/logout.png' %}" alt="">
            <a class="nav-link nav-link-vertical" href="../logout">Logout</a>
        </li>
    </ul>
</div>
