{% extends 'common/base.html' %}

{% load static %}

{% block included_css %}

    <!-- Included Components CSS -->
    <link rel="stylesheet" href="{% static 'common/components/header/header.css' %}">
    <link rel="stylesheet" href="{% static 'common/components/footer/footer.css' %}">

    <!-- This Page's CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'user_dashboard/css/user_dashboard.css' %}">

{% endblock %}


{% block title %}
    Broker request
{% endblock %}


{% block header %}
    {% include 'common/components/header/header.html' %}
{% endblock %}


{% block content %}
<div id="contact_page_page-content" class="common-center">

    <div class="container">
        <div class="row common-center">
            
            <div class="col-sm-6">
                <form action="{% url 'user_dashboard_send_request_accept_form'%}" method="POST">
                    {% csrf_token %}
                <div class="">
                    <h2>Contact form</h2>
                </div>
                <div style="color: gray;">
                    Send contract to Basic User <label name="username" id="message">{{contract.filepath.filepath}}</label>
                </div>
                
                    <table>
                        <tr>
                            <td>
                                <br>
                                {{contract.filepath.filepath}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                {{contract.contractcontent}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                                <div>
                                    <button name="{{contract.filepath.filepath}}" type="submit" class="buttonEn" id="button" style="width:50%;">accept contract</button>
                                </form>
                                    <form action="{% url 'user_dashboard_send_request_decline_form'%}" method="POST">
                                    {% csrf_token %}
                                    <button name="{{contract.filepath.filepath}}" type="submit" class="buttonEn" id="button" style="width:50%;">decline contract</button>
                                    <form action="{% url 'user_dashboard_send_request_cancel_form'%}" method="POST">
                                    {% csrf_token %}
                                    <button name="{{contract.filepath.filepath}}" type="submit" class="buttonEn" id="button" style="width:50%;">cancel</button>
                                    
                                </div>
                            </td>
                        </tr>
        
                    </table>
                </form>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'common/components/footer/footer.html' %}
{% endblock %}


{% block included_js %}

    <!-- This Page's JS -->
    <script src="{% static 'broker_request/js/broker_request.js' %}"></script>

{% endblock %}
