#transfer-methods-container {
    margin-top: 50px;
}

#balance-section {
    margin-top: 5vh;
}

#makebeliefbalance {
    max-width: 350px;
}

#assets-owned {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#assets-owned td {
    max-width: 180px;
}
