/* Jovana Bjelica 2020/0349 */
table {
    align-items: center;
}

#pass {
    border-radius: 15px;
    width: 350px;
    height: 40px;
}

#buttonSend {
    width: 50%;
    border-radius: 25px;
}

#button1 {
    width: 50%;
    border-radius: 25px;
}