/* Jovana Bjelica 2020/0349 */
table {
    align-items: center;
}

#pass {
    border-radius: 12px;
    width: 350px;
    height: 40px;
}

#buttonSend {
    width: 50%;
    border-radius: 12px;
    background-color: #AF9A70;
    border: 1px solid #AF9A70;
}

#button1 {
    width: 50%;
    border-radius: 12px;
}